*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}


.nav-section{
    height: 80px;
    /* width: full; */
    display: flex;
    align-items: center;
}

.image{
    height: 60px;
    width: 80px;
}

.hero{
    margin: 10px 40px;
    min-height: 100px;
    width: 500px;
}

h2{
    text-align: center;
    color: brown;
    font-size: 30px;
    margin-top: 5px;
}



.btn{
    height: 40px;
    width: 120px;
    font-family: cursive;
    font-weight: bolder;
    border: none;
    background-color: blueviolet;
    border-radius: 20px;
    color: white;
    margin: 8px 5px;
}

.input-text{
    position: relative;
    width: 100%;
    max-width: 200px;
    min-height: 60px;
    background-color: #adb5bd;
    color: blue;
    font-size: 20px;
    font-family: monospace;
    padding: 10px 5px;
    margin: 10px 10px;
    outline: none;
    border-radius: 5px;
}

.input-text img{
    width: 25px;
    position: absolute;
    bottom: 4px;
    right: 10px;
    cursor: pointer;
}